.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lost {
  display: flex;
  justify-content: top;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #19191a;
  color: white;
  padding: 5rem;
}
