.trip-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.create-trip-header{
    display: flex;
    color: white;
    justify-content: center;
    padding: 2rem;
}

.create-trip {
    font-weight: bold;
    color: white; 
    padding: 0.5rem;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

.create-trip > label {
    flex: 1;
}

.create-trip > input {
    flex: 2;
}

.create-trip > select {
    flex: 2;
}

.create-trip-button-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.create-trip-button {
    padding: 0.2rem;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.create-trip-button:hover {
    cursor: pointer;
    background-color: #EFD231;
    color: black;
    font-weight: bold;
}